<div class="container" ng-controller="RoomsShowCtrl">
	<div class="row">
    <div class="col-md-12">
      <h1>Sala: {{room.name}}</h1>
      <a href="#/rooms" class="btn btn-warning btn-xs">Volver a las Salas</a>
      <div class="row" style="margin: 20px 0px;">

        <div class="col-md-12" id="remotes" style="text-align:center;">
        </div>

        <div class="col-md-12" style="text-align:center;">
          <video id="localVideo" style="height:200px;" autoplay />
        </div>

      </div>
      <hr />
      <a href="" class="btn btn-danger btn-xs" ng-click="destroy()">Eliminar Sala</a>
    </div>
  </div>
</div>
