<div class="container" ng-controller="RoomsShowCtrl">
	<div class="row">
    <div class="col-md-12">
      <h1>Sala: {{room.name}}</h1>
      <a href="#/rooms" class="btn btn-warning btn-xs">Volver a las Salas</a>
      <div class="row" style="margin: 20px 0px;">

        <div class="col-md-12" id="remotes" style="text-align:center;">
        </div>

        <div class="col-md-12" style="text-align:center;">
          <video id="localVideo" style="height:200px;" autoplay />
        </div>

      </div>
      <hr />
      <a href="" class="btn btn-danger btn-xs" ng-click="destroy()">Eliminar Sala</a>
    </div>
  </div>
</div>

<script type="text/javascript">

  // grab the room from the URL
  //var room = location.search && location.search.split('?')[1];
  var room = document.location.hash.split('/').last()


    // create our webrtc connection
    var webrtc = new SimpleWebRTC({
        // the id/element dom element that will hold "our" video
        localVideoEl: 'localVideo',
        // the id/element dom element that will hold remote videos
        remoteVideosEl: 'remotes',
        // immediately ask for camera access
        autoRequestMedia: true,
        log: true
    });
  
    webrtc.createRoom(room);
  
    // when it's ready, join if we got a room from the URL
    webrtc.on('readyToCall', function () {
        // you can name it anything
        webrtc.joinRoom(room);
    });

</script>
