
<div class="jumbotron">
	<h1>Video-Conference made Easy</h1>
	<p class="lead">With only a few clicks and sharing the URL you can video-conference with anyone you want.</p>
	<p><a class="btn btn-lg btn-success" href="#">Sign up today</a></p>
</div>