<div class="alert alert-success hide js-copyclip-alert">
  <strong>Copy!</strong> We've copied this URL to the clipboard to you to share it. 
</div>
<div class="alert alert-info js-accept-webrtc">
  <strong>Atention!</strong> We're going to ask you for permition to access to your webcam and microphone. Please accept it. In case you have closed it you can refresh this page. 
</div>
<div class="alert alert-danger hide js-no-webrtc">
  <strong>Oh no!</strong> It seems your browser isn't supported. We invite you to install it a modern browser, like Mozilla Firefox and Google Chrome. 
</div>
