<!-- chat window -->
<div id='chat-window'>
  <div style="background-color: #666; color: white;width: 100%;font-size:0.8em;text-align:center;text-align:center;">Group chat</div>
  <input type="text" id="chat-username" style="padding: 0.2em;
  font-size: 0.7em;
  width: 100%;" value="anonymous">
  <div class='column-pad'>
    <div id='chat-messages'>
      <div class='column-pad'>
        <div class='chat-msg' id="chat-output">
        </div>
      </div>
    </div>
    <div id='chat-submission'>
      <div class="input-append">
        <input id="chat-input" type="text" autofocus="true" style="padding:0.2em; font-size:0.7em; width: 100%;" placeholder="Share something in the chat">
      </div>
    </div>
  </div>
</div>
