<!-- chat window -->
<div id='chat-window'>
  <div class='column-pad'>
    <div id='chat-messages'>
      <div class='column-pad'>
        Chat
        <div class='chat-msg' id="chat-output">
        </div>
      </div>
    </div>
    <div id='chat-submission'>
      <div class="input-append">
        <input class="col-md-12" id="chat-input" type="text" autofocus="true">
      </div>
    </div>
  </div>
</div>
