<form role="form" class="form-horizontal" style="margin-top: 50px;">
  <p>This room is password protected.</p>
  <div class="form-group">
    <label for="roomgivenpass" class="col-lg-4">Password</label>
    <div class="col-lg-6">
      <input type="password" class="form-control" id="roomgivenpass" name="roomgivenpass" placeholder="Password">
    </div>
  </div>
  <button type="submit" class="btn btn-default">Submit</button>
</form>
