<div class="container">
	<div class="row">
    <div class="col-md-12">
      <h1>Rooms</h1>
      <ul>
        <% @rooms.each do |room| %>
          <li><%= link_to room.name, room_path(room) %> </li>
        <% end %>
      </ul>
    </div>
  </div>
</div>

<div class="center">
  <%= link_to 'New Room', new_room_path, :class => "btn btn-primary btn-lg" %>
</div>
