<div class="container">
  <div class="row">
    <div class="col-md-12">
      <h1>Room: <%= @room.name %></h1>
      <a href="#" class="js-share-fb btn btn-facebook btn-sm"><i class="icon-facebook"></i> | Share on Facebook</a>
      <a href="#" class="js-share-tw btn btn-twitter btn-sm"><i class="icon-twitter"></i> | Share on Twitter</a>
      <a href="#" class="js-copyclip btn btn-success btn-sm"><i class="icon-copy"></i> | Copy to Clipboard</a>

      <div class="row" style="margin: 20px 0px;">

        <div class="alert alert-danger js-no-webrtc">
          <strong>¡Oh no!</strong> Parece tu navegador no es compatible. Te invitamos a instalarte otro navegador moderno, como Mozilla Firefox o Google Chrome.
        </div>

        <div class="col-md-12" id="remotes" style="text-align:center;"> </div>
        <div class="col-md-12" id="localVideo" style="text-align:center;"></div>
      </div>

      <hr />
    </div>
  </div>
</div>
