<div class="container">
	<div class="row">
    <div class="col-md-12">
      <h1>Room: <%= @room.name %></h1>
      <div class="row" style="margin: 20px 0px;">

        <div class="col-md-12" id="remotes" style="text-align:center;">
        </div>

        <div class="col-md-12" style="text-align:center;">
          <video id="localVideo" style="height:200px;" autoplay />
        </div>

      </div>
      <hr />
    </div>
  </div>
</div>
