<% @OG_TITLE = "Room #{@room.name}" %>

<div class="container">
  <div class="row">
    <div class="col-md-12">

    <% if @room.password? and not @room.check_password? params[:roomgivenpass] %>

      <form role="form" class="form-horizontal" style="margin-top: 50px;">
        <p>This room is password protected.</p>
        <div class="form-group">
          <label for="roomgivenpass" class="col-lg-4">Password</label>
          <div class="col-lg-6">
            <input type="password" class="form-control" id="roomgivenpass" name="roomgivenpass" placeholder="Password">
          </div>
        </div>
        <button type="submit" class="btn btn-default">Submit</button>
      </form>

      <% else %>

      <div class="row" style="margin: 20px 0px;">
        <div class="alert alert-success hide js-copyclip-alert">
          <strong>Copy!</strong> We've copied this URL to the clipboard to you to share it. 
        </div>
        <div class="alert alert-info js-accept-webrtc">
          <strong>Atention!</strong> We're going to ask you for permition to access to your webcam and microphone. Please accept it. In case you have closed it you can refresh this page. 
        </div>
        <div class="alert alert-danger hide js-no-webrtc">
          <strong>Oh no!</strong> It seems your browser isn't supported. We invite you to install it a modern browser, like Mozilla Firefox and Google Chrome. 
        </div>
        <div class="col-md-12" id="remotes" style="text-align:center;"> </div>
        <div class="col-md-12" id="localVideo" style="text-align:center;"></div>
      </div>

      <% end %>

      <hr />
    </div>
  </div>
</div>
