<% @OG_TITLE = "Room #{@room.name}" %>
<% if notice %>
  <p id="notice" class="alert alert-primary"><%= notice %></p>
<% end %>

<div class="container">
  <div class="row">
    <div class="col-md-12">

      <% if @room.password? and not @room.check_password? params[:roomgivenpass] %>

        <%= render :partial => "form_password" %>

      <% else %>

        <div class="row" style="margin: 20px 0px;">
          <div class="col-md-8">
            <%= render :partial => "alerts" %>
            <div class="col-md-12 center" id="remotes"> </div>
            <div class="col-md-12 center" id="localVideo"></div>
          </div>
          <div class="col-md-4">
            <%= render :partial => "chat" %>
          </div>
        </div>

      <% end %>

    </div>
  </div>
</div>

<div class="js-pad-wrapper"></div>
