<% @OG_TITLE = "Room #{@room.name}" %>

<div class="container">
  <div class="row">
    <div class="col-md-12">
      <h1>Room: <%= @room.name %></h1>
      <a href="#" class="js-share-fb btn btn-facebook btn-sm"><i class="icon-facebook"></i> | Share on Facebook</a>
      <a href="#" class="js-share-tw btn btn-twitter btn-sm"><i class="icon-twitter"></i> | Share on Twitter</a>
      <button href="#" class="js-copyclip btn btn-success btn-sm" data-clipboard-text='Join me in a web videoconference: <%= room_url(@room) %>'>
        <i class="icon-copy"></i> 
        | Copy to Clipboard
      </button>

      <div class="row" style="margin: 20px 0px;">
       
        <div class="alert alert-success hide js-copyclip-alert">
          <strong>Copy!</strong> We've copied this URL to the clipboard to you to share it. 
        </div>

        <div class="alert alert-info js-accept-webrtc">
          <strong>Atention!</strong> We're going to ask you for permition to access to your webcam and microphone. Please accept it. In case you have closed it you can refresh this page. 
        </div>

        <div class="alert alert-danger hide js-no-webrtc">
          <strong>Oh no!</strong> It seems your browser isn't supported. We invite you to install it a modern browser, like Mozilla Firefox and Google Chrome. 
        </div>

        <div class="col-md-12" id="remotes" style="text-align:center;"> </div>
        <div class="col-md-12" id="localVideo" style="text-align:center;"></div>
      </div>

      <hr />
    </div>
  </div>
</div>
