/*
 *= require bootstrap.min
 *= require font-awesome.min
 *= require_self
 *= require_tree .
 */

body
  padding-top: 50px
  padding-bottom: 20px
  font-size: 1.8em

.header-wrapper
  text-align: center
  position: relative
  margin-top: -90px
  margin-bottom: 10px
