$primary: #DD4814

#remotes .video-container
  display: inline
  margin: 0px 5px

#rtc-enabled 
  .container
    max-width: 940px
  .col-md-12
    text-align: center

.room-list
  list-style: none
  text-align: center
  font-weight: bold
  width: 100%
  li
    border: 1px solid #e5e5e5
    border-radius: 6px
    margin-bottom: 3px
    padding: 2px
    span
      font-weight: normal
  li:hover
    background-color: $primary
    font-color: white
    a 
      color: white
      text-decoration: none


.column-pad
  padding: 10px

#chat-background
  margin-top: 40px
  padding: 40px

#chat-window

#chat-messages
  text-align: left
  background-color: #fff
  border: 1px solid #ccc
  height: 250px

#chat-submission
  margin-top: 10px

#participant-list
  background-color: #fff
  border: 1px solid #ccc

#chat-output 
  border-top: 1px solid #ccc
  font-size: 0.8em

#chat-input
  font-size: 0.8em
  text-align: left !important

